<div class="container">
    <app-slider [slides]="slides"></app-slider>
    <div class="container_info">
        <img src="../../../assets/images/box.jpg" alt="box">
        <div class="container_info--description">
            <h2 class="container_info--description-title">Lorem ipsum dolor sit amet consectetur.</h2>
            <span class="container_info--description-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam eum voluptatibus, ratione praesentium animi saepe ipsam id sunt error laborum est assumenda
                eligendi optio consequuntur repellat, dolores cumque officia deleniti. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Excepturi placeat, laudantium blanditiis tempora asperiores eos rem rerum
                veniam magnam ullam sapiente illum quia libero obcaecati aut quod mollitia sequi dignissimos?</span>
        </div>
    </div>
    <div class="container_info">
        <img src="../../../assets/images/box.jpg" alt="box">
        <div class="container_info--description">
            <h2 class="container_info--description-title">Lorem ipsum dolor sit amet consectetur.</h2>
            <span class="container_info--description-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam eum voluptatibus, ratione praesentium animi saepe ipsam id sunt error laborum est assumenda
                eligendi optio consequuntur repellat, dolores cumque officia deleniti. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Excepturi placeat, laudantium blanditiis tempora asperiores eos rem rerum
                veniam magnam ullam sapiente illum quia libero obcaecati aut quod mollitia sequi dignissimos?</span>
        </div>
    </div>
    <div class="container_info">
        <img src="../../../assets/images/box.jpg" alt="box">
        <div class="container_info--description">
            <h2 class="container_info--description-title">Lorem ipsum dolor sit amet consectetur.</h2>
            <span class="container_info--description-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam eum voluptatibus, ratione praesentium animi saepe ipsam id sunt error laborum est assumenda
                eligendi optio consequuntur repellat, dolores cumque officia deleniti. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Excepturi placeat, laudantium blanditiis tempora asperiores eos rem rerum
                veniam magnam ullam sapiente illum quia libero obcaecati aut quod mollitia sequi dignissimos?</span>
        </div>
    </div>
</div>