<footer class="footer">
    <div class="container">
        <div class="footer__navigation">
            <ul class="footer__list">
                <li class="footer__item"><a [routerLink]="['/home']" class="footer__link">მთავარი</a></li>
                <li class="footer__item"><a [routerLink]="['/donate']" class="footer__link">დახმარება</a></li>
                <li class="footer__item"><a [routerLink]="['/events']" class="footer__link">ივენთები</a></li>
                <li class="footer__item"><a [routerLink]="['/contact']" class="footer__link">კონტაქტი</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            ვებ გვერდი შექმნილია <a href="#" class="footer__link">დასახმარებლად</a> თიბისი ბანკის ანგარიძე იქნება დარიცხული გარკვეული თანხა
            რომელსაც დაინახავს ყველა. დონაცია შეიძლება აგრეთვე ანონიმური. დავეხმაროთ და გავუბედნიეროთ ერთმანეთს ცხოვრება !
        </div>
    </div>
</footer>