<div class="toolbar">
    <div class="toolbar_title">
        <span class="toolbar_title--start">DON<span class="toolbar_title--end">ATE</span></span>
    </div>
    <div class="toolbar_menu" #menuList>
        <a class="toolbar_menu--item" #menuItem [routerLink]="[item.route]" *ngFor="let item of menuItems"
            (mouseenter)="onMouseEnter(menuItem)" (mouseleave)="setActiveRoute()">
            {{ item.title }}
        </a>
        <span class="effect" #menuItemBorder></span>
    </div>
    <div class="toolbar_donate">
        <a (click)="donateNow()">შესვლა</a>
    </div>
    <div class="toolbar_actions">
        <span class="toolbar_actions-title">თანხა:</span> <strong>300 ₾</strong>
    </div>
    <div class="toolbar_burger">
        <input id="burger" type="checkbox" class="toolbar_burger-checkbox" [(ngModel)]="burgerIcon"/>
        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="toolbar_burger-items">
            <ng-container *ngFor="let item of menuItems">
                <a class="toolbar_burger-items--item" [routerLinkActive]="'active'" [routerLink]="[item.route]" (click)="burgerIcon = false">
                    <span>{{ item.title }}</span>
                    <i [class]="item.icon"></i>
                </a>
            </ng-container>
        </nav>
    </div>
</div>