@import '../../../../variables.scss';

.fastdonate {
    // background-image: linear-gradient(to top, rgb(161, 196, 190), $primary-color-light);
    background-color: whitesmoke;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .2);

    &__form {
        display: flex;
        width: 75%;
        padding-left: 6rem;
    }

}
.heading {
    color: $primary-color;
    font-size: 30px;
    margin-bottom: 6rem;
}
.label {
    color: $primary-color;
}
