<div class="donate">
    <div class="donate__form">
        <form action="#" class="form">
            <div class="u-margin-bottom-medium">
                <h2 class="heading-secondary">
                    Donate now !
                </h2>
            </div>
            <div *ngFor="let input of donationControls" class="form__group">
                <app-input [name]="input.name" [required]="input.required" [placeholder]="input.placeholder"
                    [key]="input.key" [control]="input.control" [type]="input.type"></app-input>
            </div>
            <div class="form__group margin-bottom">
                <div class="form__radio-group">
                    <input type="radio" id="small" class="form__radio-input" name="size">
                    <label for="small" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        Small tour group
                    </label>
                </div>
                <div class="form__radio-group">
                    <input type="radio" id="large" class="form__radio-input" name="size">
                    <label for="large" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        large tour group</label>
                </div>
            </div>
            <div class="form__group">
                <button type="submit" class="btn btn--green">Donate</button>
            </div>
        </form>
    </div>
</div>