<div class="donate">
    <div class="donate__form">
        <form action="#" class="form">
            <div class="u-margin-bottom-medium">
                <h2 class="heading-secondary">
                    Donate now !
                </h2>
            </div>
            <div class="form__group">
                <input id="name" type="text" class="form__input" placeholder="Full name" required>
                <label for="name" class="form__label">Full name</label>
            </div>
            <div class="form__group">
                <input id="email" type="email" class="form__input" placeholder="Email address" required>
                <label for="email" class="form__label">Email name</label>
            </div>
            <div class="form__group">
                <input id="amount" type="amount" class="form__input" placeholder="Amount" required>
                <label for="amount" class="form__label">Amount</label>
            </div>
            <div class="form__group margin-bottom">
                <div class="form__radio-group">
                    <input type="radio" id="small" class="form__radio-input" name="size">
                    <label for="small" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        Small tour group
                    </label>
                </div>
                <div class="form__radio-group">
                    <input type="radio" id="large" class="form__radio-input" name="size">
                    <label for="large" class="form__radio-label">
                        <span class="form__radio-button"></span>
                        large tour group</label>
                </div>
            </div>
            <div class="form__group">
                <button type="submit" class="btn btn--green">Donate</button>
            </div>
        </form>
    </div>
</div>