@import '../../../variables.scss';

.donate {
    padding: 6rem 0;
    background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 50%,
    transparent 50%), 
    url(../../../assets/images/donatenow.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .2);

    &__form {
        width: 50%;
        padding: 6rem;
    }

}
.margin-bottom {
    margin-bottom: 50px !important;
}