.register {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reg {
    box-sizing: border-box;
    border-radius: 3px;

    &__form {
        display: flex;
        box-sizing: border-box;
    }

}