<div class="tournament">
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__cta">
                <div class="card__price-box">
                    <p class="card__price-only">რეგისტრაცია</p>
                    <p class="card__price-value">₾1</p>
                </div>
            </div>
            <div class="card__progress">
                <span class="card__progress-current">₾123</span>
                <span class="card__progress-goal">₾200</span>
                <div class="card__progress-container">
                    61.5%
                </div>
                <p class="card__progress-info">ლიმიტს გადაჭარბებული თანხა ავტომატურად გადაირიცხება საქველმოქმედო ანგარიშზე!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__price2-box">
                    <p class="card__price2-only">ჯამური თანხა</p>
                    <span class="card__price2-value">₾</span>
                    <span class="card__price2-counter" [ngClass]="{'animated': animate}">{{counter}}</span>
                </div>
                <button type="button" class="btn btn--white" >მონაწილეობის მიღება</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__cta">
                <div class="card__price-box">
                    <p class="card__price-only">რეგისტრაცია</p>
                    <p class="card__price-value">₾5</p>
                </div>
            </div>
            <div class="card__progress">
                <span class="card__progress-current">₾123</span>
                <span class="card__progress-goal">₾200</span>
                <div class="card__progress-container">
                    61.5%
                </div>
                <p class="card__progress-info">ლიმიტს გადაჭარბებული თანხა ავტომატურად გადაირიცხება საქველმოქმედო ანგარიშზე!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__price2-box">
                    <p class="card__price2-only">ჯამური თანხა</p>
                    <span class="card__price2-value">₾</span>
                    <span class="card__price2-counter" [ngClass]="{'animated': animate}">{{counter}}</span>
                </div>
                <button type="button" class="btn btn--white" >მონაწილეობის მიღება</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__cta">
                <div class="card__price-box">
                    <p class="card__price-only">რეგისტრაცია</p>
                    <p class="card__price-value">₾10</p>
                </div>
            </div>
            <div class="card__progress">
                <span class="card__progress-current">₾123</span>
                <span class="card__progress-goal">₾200</span>
                <div class="card__progress-container">
                    61.5%
                </div>
                <p class="card__progress-info">ლიმიტს გადაჭარბებული თანხა ავტომატურად გადაირიცხება საქველმოქმედო ანგარიშზე!</p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__price2-box">
                    <p class="card__price2-only">ჯამური თანხა</p>
                    <span class="card__price2-value">₾</span>
                    <span class="card__price2-counter" [ngClass]="{'animated': animate}">{{counter}}</span>
                </div>
                <button type="button" class="btn btn--white" >მონაწილეობის მიღება</button>
            </div>
        </div>
    </div>
</div>