/* You can add global styles to this file, and also import other style files */
@import './card.scss';
@import './animations.scss';
@import './button.scss';
@import './variables.scss';
@import './input.scss';
html {
  font-size: 62.5%;

}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
  }

  .heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1.5s ease-out;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 14px;
        animation: moveInRight 1.5s ease-out;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary-color-light, $accent-color);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;

    // &:hover {
    //     transform: skewY(2deg) skewX(15deg) scale(1.1);
    //     text-shadow: .5rem 1rem 2rem rgba(black, .2);
    // }
}

.spinner {
  position: absolute;
    top: 50%;
    right: 50%;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-box {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      &--item {
          width: 60%;
          margin-bottom: 25px;
      }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}