$primary-color: rgb(31, 75, 82);
$accent-color: rgb(132, 197, 102);
$warn-color: rgb(202, 124, 88);

$primary-color-light: rgb(31, 75, 82);
$accent-color-light: rgb(148, 216, 117);
$warn-color-light: rgb(202, 124, 88);

$primary-color-dark: rgb(22, 53, 58);
$accent-color-dark: rgb(107, 160, 83);
$warn-color-dark: rgb(172, 105, 75);



$color-white: whitesmoke;
$color-black: black;
$default-font-size: 16px;